<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">How to use it?</h1>
            <p class="lead"> Its not that hard, honestly its very easy <i class="em em-grin"></i>
            </p>
            <hr class="my-4">
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-step1-list" data-toggle="list" href="#list-step1" role="tab" aria-controls="step1">Step 1</a>
                    <a class="list-group-item list-group-item-action" id="list-step2-list" data-toggle="list" href="#list-step2" role="tab" aria-controls="step2">Step 2</a>
                    <a class="list-group-item list-group-item-action" id="list-step3-list" data-toggle="list" href="#list-step3" role="tab" aria-controls="step3">Step 3</a>
                    <a class="list-group-item list-group-item-action" id="list-demo-list" data-toggle="list" href="#list-demo" role="tab" aria-controls="demo">Example Files</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-step1" role="tabpanel" aria-labelledby="list-step1-list">
                        First go to the following <a href="https://squareup.com/dashboard/sales/transactions" target="_blank">link</a> of Square Transactions
                        and download the "Items Summary CSV". Save it to any location where you can access it easily. Go to step 2
                    </div>
                    <div class="tab-pane fade" id="list-step2" role="tabpanel" aria-labelledby="list-step2-list">
                        Update the costing sheet and put it in the specific format. The format should be exactly like
                         <a href="{{url_for('download_java_costing')}}" download>this</a> and the column names has to stay 
                        the same as it is in the example file. When everything is done proceed to Step 3.
                    </div>
                    <div class="tab-pane fade" id="list-step3" role="tabpanel" aria-labelledby="list-step3-list">
                        This is the easiest of all step, choose the file downloaded in Step 1 under Goods Sold and
                        the costing sheet under Costing Sheet. Wait for the magic to happen!
                    </div>
                    <div class="tab-pane fade" id="list-demo" role="tabpanel" aria-labelledby="list-demo-list">
                        You can also put the following example files in appropriate places to see the results.
                        <h1>Goods Sold</h1>
                        <ul>
                            <li><a href="{{url_for('download_item_summary_csv')}}" download>Items Summary CSV</a></li>
                        </ul>
                        <h1>Goods Sold</h1>
                        <ul>
                            <li><a href="{{url_for('download_java_costing')}}" download>Java Costing</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <a class="btn btn-primary btn-lg" href="{{ url_for('upload_file') }}" role="button">Home</a>
        </div>
    </body>
    <script>
        $('#myList a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
            })
    </script>

</html>